PROJECT_NAME="MongoDB Big Data Analytics Platform"
MONGODB_URL=mongodb://admin:admin_password@127.0.0.1:27017/?authSource=admin
DATABASE_NAME=bigdata_analytics
COLLECTION_NAME=transactions
BATCH_SIZE=10000
CACHE_TTL_SECONDS=60
ENABLE_TTL_INDEX=false
TTL_DAYS=90
